/**
 * Applies full inset positioning on all sides.
 * @since 1.0.0
 */
@mixin position-inset($position) {
    & {
        position: $position;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
