/**
 * Applies single-line text overflow with optional style.
 * @since 1.0.0
 */
@mixin text-overflow($overflow: ellipsis) {
    & {
        overflow: hidden;
        text-overflow: $overflow;
        white-space: nowrap;
    }
}
